.input-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.input-container input {
    height: 1.4vh;
    padding: 10px;
    width: 7vw;
    border: none;
    border-radius: 3px 0 0 3px;
    outline: white solid;
    font-size: 16px;
    background-color: black;
}

.input-container button {
    background-color: black;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    outline: white solid;
}