.ahorcado-img {
    width: 100%; /* Ajusta según tu diseño */
    height: auto;
    transform: scale(1); /* Tamaño final normal */
    transition: transform 0.3s ease-in-out;
}

.ahorcado-img.shrink-animation {
    transform: scale(1.2); /* Comienza más grande */
    animation: shrink 0.3s ease-in-out forwards;
}

@keyframes shrink {
    from {
        transform: scale(1.2); /* Estado inicial grande */
    }
    to {
        transform: scale(1); /* Tamaño normal */
    }
}
